body {
	font-family: sans-serif;
	text-align: center;
	/*	background-color: #060707; */
}
.short-line {
	width: 90%;
	margin: auto;
	border: none;
	border-top: 2px solid #333;
	color: black;
}
.container {
	width: 100%;
	position: relative;
}

.main {
	text-align: center;
	position: relative;
	margin: 0px auto 0;
	border: 10px solid black;
	background-color: #ffffff;
	box-sizing: border-box;
	padding: 20px;
	max-width: 900px;
	width: 90%;
}

.webringz {
	position: absolute;
	left: calc(50% - 450px - 120px);
	top: 50px;
	display: block;
}

@media (max-width: 1100px) {
	/* Responsive: move above main on small screens */
	.webringz {
		position: static;
		margin: 0 auto 10px;
		left: auto;
		top: auto;
		display: block;
	}
}

.border {
	border: 10px solid black;
	background-color: #ffffff;
	margin: auto;
	margin-top: 20px;
	width: 50%;
	padding: 20px;
}

.sticky {
	position: fixed;
	bottom: 10px;
	left: 10px;
	width: 120px;
	height: auto;
	z-index: 9999;
	pointer-events: auto;
	will-change: transform;
}

.smol {
	position: relative;
	height: 15px;
	width: 15px;
	vertical-align: bottom;
	border-radius: 25%;
	top: -1px;
}
.follow {
	position: relative;
	margin: 50px auto 0;
	border: 10px solid black;
	background-color: #ffffff;
	box-sizing: border-box;
}

.genocides {
    color: var(--genocideColor);
    font-style: normal;
    font-weight: bold;
    text-shadow: 0px 0px 7px var(--genocideColor),
    0px 0px 10px var(--genocideColor),
    0px 0px 15px var(--genocideColor),
    0px 0px 25px var(--genocideColor),
    0px 0px 30px var(--genocideColor);
}